body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.welcomePart{
    display: flex;
    margin: auto;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 150px;
}
.divInfo{
    width: 50%;
    padding-right: 10%;
    padding-left: 7%;
}
.link_button{
    text-transform: uppercase;
    font-weight: 800;
    color: white;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 12px 38px;
    border-radius: 5px;
    text-decoration: none;
    border: none;
}
.divImg{
    width: 40%;
    padding-right: 7%;
}
.divImg img{
    width:100%;
}
h1{
    font-size: 50px;
}
.developerColor{
    color: orange;
}
.dreamBig{
    display: flex;
    margin: auto;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: right;
    margin-bottom: 150px;
}
.dreamImg{
    width: 44%;
    padding-left: 7%;
}
.dreamImg img{
    width: 100%;
}
.divInfo p{
    margin-bottom: 30px !important;
}
.displayFlex{
    display: flex;
}
.Experiences{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: 100px;
}
.halfWidth{
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 3%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
}
h2{
    font-size: 35px;
}
#fullStackDeveloper{
    border-left: 7px solid;
    border-image: linear-gradient(orange, tomato);
    border-image-slice: 1;
}
#babyWebDeveloper{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
footer p{
    color: gray;
    text-align: center;
}
